<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic Tasks</title>
</head>
<body>
<h1>{{ topic.title }}</h1>
<ul>
  {% for task in tasks %}
    <li>{{ task.description }}</li>
    <form action="/delete/task/{{ task.task_id }}" method="POST">
        <input type="submit" value="Delete Task" />
    </form>
    {% endfor %}
</ul>
<h3>Add a New Task</h3>
<form action="/add/task/{{ topic.topic_id }}" method="POST">
  <div>
    <label for="task">Task</label>
    <input type="text" name="task-description">
  </div>
  <input type="submit" value="Add Task" />
</form>

<div class="delete-topic">
    <form action="/delete/topic/{{ topic.topic_id }}" method="post">
    <input type="submit" value="Delete This Topic"></input>
        </form>
</div>

<div class="message">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div style="color: {{ category }};"> {{ message }} </div>
    {% endfor %}
</div>
</body>
</html>